---
import Layout from "$layouts/Layout.astro"
import { type CollectionEntry, getCollection } from "astro:content";
import { formatDate } from "$lib/utils";

export async function getStaticPaths() {
	const posts = await getCollection("projects");
	return posts.map(post => ({
		params: { slug: post.slug },
		props: post,
	}));
}

type Props = CollectionEntry<"projects">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <main class="flex flex-col justify-center items-center pb-16">
    <div class="text-center space-y-2">
      <h1 class="font-bold text-5xl">
        {post.data.title}
      </h1>
      <h2 class="font-semibold text-xl">
        {formatDate(post.data.date)}
      </h2>
    </div>

    <div class="group relative w-[40rem] my-8 hover:scale-[102%] duration-150">
      <img
        class="rounded-3xl w-full"
        src={post.data.hero}
        alt={post.data.title}
      >

      <a
        href={post.data.url}
        target="_blank"
        class="group-hover:opacity-100 opacity-0 bg-black/50 absolute w-full h-full top-0 left-0 duration-200 flex justify-center items-center rounded-3xl"
      >
        <span class="text-white text-2xl font-bold">
          View Project ->
        </span>
      </a>
    </div>

    <article class="prose prose-h1:font-jakarta prose-invert">
      <Content />
    </article>
  </main>
</Layout>
